.page.theme_dark {
  --background-page: #00183F;
  --color-title-header-footer: #DB00FF;
  --shadow-title-header-footer: #FF0070;
  --color-text-with-background: #00183F;
  --background-for-text: #FF0070;
  --color-title-section: #FF0070;
  --color-text: #F1B2CE;
  --link-shadow: #FF0070;
  --hover-button: rgba(255, 0, 112, 0.40);
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}