.page.theme_dark {
  --background-page: #000028; /* Данный цвет присутствует! */
  --color-title-header-footer: #DB00FF;
  --color-text-with-background: #000028;
  --background-for-text: #FF0070;
  --color-title-section: #FF0070;
  --color-text: #F1B2CE;
  --link-shadow: #FF0070;
}

.page.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.page.page.theme_dark .decor::before{
   
  content: "REc";
  position: absolute;
  top: 3px;
  right: 28px;
  color: var(--color-title-section, #ff0070);
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.page.page.theme_dark .decor::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 8px;
  min-width: 9px;
  min-height: 9px;
  border-radius: 50%;
  background-color: var(--color-title-section, #ff0070);
  /* text-shadow: 2px solid #FF0070; */
}