/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-page: #000028;
  --background-color: #FF0070;
  --color-title:#DB00FF;
  --color-title-section: #FF0070;
  --color-title-paragraf: #000028;
  --color-text: #F1B2CE;
  --link-shadow: #FF0070;
  --font-family: 'IBM Plex Mono';
  --focus:#FF0070;
}
/* --background-page: #00183F;
--background-color-dark: #FF0070;
--color-title:#DB00FF;
--color-title-paragraf: #000028;
--color-text: #F1B2CE;
--font-family: 'IBM Plex Mono'; */