/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
  
*/
:root {
  --background-page: #FFF1F7;
  --background-color: #ff8dcb;
  --color-title:#FFC2E6;
  --color-title-section: #353430;
  --color-title-paragraf: #000028;
  --color-text: #353430;
  --link-shadow: #353430;
  --font-family: 'IBM Plex Mono';
  --focus:#FF0070;
}

  .page.theme_light .decor {
    display: none;
}
  
.page.theme_light .header {
  background-image: url(../images/cover-image-light.png);
}

