/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-width: 100%;
  background: #000028;
}

/* General */

.font-weight {
  font-weight: 400;
}

.title-content {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.content {
  color: #F1B2CE;
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.paragraph-title {
  color: #000028;
}

.title__h2 {
  min-width: 32%;
  margin-bottom: 20px;
  color: #FF0070;
}

.card p {
  margin-top: 10px;
}

section {

  padding: 0 20px;
}

section:not(:last-child) {
  margin-bottom: 80px;
}

.background-title {
  background-color: #FF0070;
}

.link {
  text-decoration: none;
  text-shadow: 3px 2px #FF0070 ;
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  padding: 1px;
  outline: 1px solid #FF0070;
}

/* header */

.header {
  width: 100%;
  padding: 20px;
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.decorated-zone {

}

.header__theme-menu {
  
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.header__theme-menu-item {
  position: relative;
  width: 70px;
}

.header__theme-menu-item:focus {
  border: 1px solid #FF0070;
}

.header__theme-menu-button { 
  border: none;
  padding: 3px 14px; 
  color: #FF0070;
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:focus-visible {
  border-bottom: #353430;

}


.header__theme-menu-button_type_light {

}

.header__theme-menu-button_active {
  
  border: 1px solid #FF0070;
  pointer-events: none;
}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}

.decor {
  position: absolute;
  top: 3.8%;
  right: 4.7%;
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase; 
}

.decor::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 43px;
  min-width: 9px;
  min-height: 9px;
  border-radius: 50%;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  background-color: #FF0070;
  filter: drop-shadow(0px 0px 4px #FF0070);

}

/* .corner {
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
} */

.header__title {
  margin-top: 28%;
  margin-left: -20px;
  color: #DB00FF;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 157px;
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px #FF0070;
}

.header-content {
  width: 491px;
  margin: 114px 0 113px auto;
}

.main {
  padding: 60px 0;
}

.assiduity {
  display: flex;
  gap: 20px;
}

.assiduity__title {
  min-width: 32%;
}
.assiduity__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.assiduity__box-item {

}

/* Section concentration */
.concentration-title {
  width: 32%;
}

.concentration__box-li {
  width: 32%;
}

.concentration__box {
  display: flex;
  gap: 20px;
}

/* Section five-rules */

.five-rules {
  display: flex;
  gap: 20px;
}

.five-rules__container {
  
}

.five-rules__container-title {
  margin-bottom: 20px;
}

.five-rules__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.five-rules__box-item {

}

.gallery {
  width: 100%;
}

.gallery__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 24% 29% 40%;
  gap: 20px;
  padding-top: 20px;
}

/* Footer */

.footer {
  padding: 20px;
}

.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 27% 0;
  color: #DB00FF;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 157px;
  font-style: normal;
  line-height: 82.5%;
}

/* @Media Планшеты */

@media (max-width: 768px) {
  .concentration__box {
    flex-direction: column;
  }
  
  .concentration__box-li {
    width: 100%;
  }

  .header__theme-menu-list{
    flex-direction: column;   
  }

  .header__theme-menu {
    margin-top: 24%;
  }

  .header__theme-menu-item {
    align-self: end;
  }

  .header__title {
    margin-top: 24%;
    font-size: 120px;
  }

  .header-content {
    width: 50%;
    margin: 163px 0 163px auto;
  }

  .gallery__box {
  grid-template-rows: 24% 28% 40%;
  }

  .footer_content {   
    margin: 57% 0;
    font-size: 120px;
  }  
}

/* @Media Смартфоны */
@media (min-width: 579px) {

  .gallery__box img{
    min-height: 100%;
  }

  .gallery__item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 260px;
  }
  
  .gallery__item-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gallery__item-3 {
    grid-row-start: 2;
    grid-row-end: 4;
  }
  
  .gallery__item-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .gallery__item-5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    padding-top: 5px;
  }
  .gallery__box {
    height: calc(100vw / 0.93);
  }
}

@media (max-width: 579px) {
  .header {
    padding: 10px;
  }
  
  .header-content {
    width: 100%;
    margin: 55px 0;
  }

  .assiduity {
    display: block;
  }

  .header__theme-menu {
    margin-top: 19%;
  }
  
  .header__title {
    margin-top: 19%;
    margin-left: 0px;
    font-size: 117px;
  }

  section {
    padding: 0 10px;
  }

  .concentration-title {
    width: 100%;
  }

  .five-rules {
    display: block;
  }

  .main {
    padding: 40px 0;
  }

  section:not(:last-child) {
    margin-bottom: 50px;
}

.gallery__box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  padding-top: 10px;
}

.footer_content {
  margin: 80% 0;
  font-size: 116px;
}
}