.page {
  max-width: 1440px;
  background-color: var(--background-page, #000028);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* General */

.title-content {
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.content {
  color: var(--color-text, #f1b2ce);
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.font-weight {
  font-weight: 400; /* перебивает стиль title-contener*/
}

.paragraph {
  color: var(--color-text-with-background, #000028);
}

.text-section {
  min-width: 32%;
  margin-block-end: 20px;
  color: var(--color-title-section, #ff0070);
}

.card p {
  margin-block-start: 10px;
}

.indent-sections {
  padding: 0 20px;
}

.indent-sections:not(:last-child) {
  margin-block-end: 80px;
}

.background-text {
  background-color: var(--background-for-text, #ff0070);
}

.link {
  text-decoration: none;
  text-shadow: 3px 2px var(--link-shadow, #ff0070);
}

.link:hover {
  border-bottom: 1px solid var(--color-text);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  padding: 1px;
  outline: 1px solid var(--color-text, #F1B2CE);
}

/* header */

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  min-height: 668px;
  padding: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--color-title-section, #FF0070);
  border-block-start: 1px solid var(--color-title-section, #FF0070);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--color-title-section, #FF0070);
  border-block-end: 1px solid var(--color-title-section, #FF0070);
}

.decor {
  position: absolute;
  top: 20px;
  right: 20px; 
}

.decor::before {
  content: "REc";
  position: absolute;
  top: 3px;
  right: 28px;
  color: var(--color-title-section, #ff0070);
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.decor::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 9px;
  min-width: 9px;
  min-height: 9px;
  border-radius: 50%;
  background-color: var(--color-title-section, #ff0070);
  box-shadow: 0 0 4px 2px var(--link-shadow, #FF0070);
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 14px;
  color: var(--color-title-section, #ff0070);
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button, #F1B2CE);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--color-title-section, #ff0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-title-section, #ff0070);
  pointer-events: none;
}

.header__title {
  align-self: center;
  margin-left: -2%;
  color: var(--color-title-header-footer, #db00ff);
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--shadow-title-header-footer, #ff0070);
}

.header-content {
  justify-self: end;
  max-width: 491px;
  margin-block-start: 6%;
}

.main {
  padding: 60px 0;
}

.assiduity {
  display: flex;
  gap: 20px;
}

.assiduity__title {
  min-width: 32%;
}

.assiduity__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Section concentration */

.concentration-title {
  width: 32%;
}

.concentration__box-li {
  width: 32%;
}

.concentration__box {
  display: flex;
  gap: 20px;
}

/* Section rules-concentration */

.rules-concentration {
  display: flex;
  gap: 20px;
}

.rules-concentration__container-title {
  margin-block-end: 20px;
}

.rules-concentration__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery {
  width: 100%;
}

.gallery__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 24.6% 30% 41%;
  gap: 20px;
  margin-block-start: 20px;
}

/* Footer */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  padding: 20px;
}

.footer_content {
  color: var(--color-title-header-footer, #db00ff);
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--shadow-title-header-footer, #ff0070);
}

/* @Media Планшеты */

@media (max-width: 768px) {
  .concentration__box {
    flex-direction: column;
  }

  .concentration__box-li {
    width: 100%;
  }
  
  .header__theme-menu {
    justify-self: end;
    margin-block-start: 23.9%;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__theme-menu-item {
    align-self: end;
    }

  .header__title {
    align-self: center;
    margin-left: -3%;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header-content {
    width: 50%;
    margin-block-start: 7%;
  }

  .gallery__box {
    grid-template-rows: 24% 29% 41%;
  }
    
  .footer_content {
    margin: 57% 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

/* @Media Смартфоны */
@media (min-width: 579px) {
  .gallery__box img {
    min-height: 100%;
  }

  .gallery__sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 260px;
  }

  .gallery__ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__tape {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .gallery__books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    padding-block-start: 5px;
  }
}

@media (max-width: 579px) {
  .header {
    padding: 10px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }
  
  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .decor {
    top: 10px;
    right: 10px; 
  }

  .header__theme-menu {
    margin-block-start: 18.9%;
  }

  .header__title {
    margin-left: 0%;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header-content {
    width: 100%;
    margin-block-start: 12%;
  }

  .assiduity {
    display: block;
  }

  .indent-sections {
    padding: 0 10px;
  }

  .concentration-title {
    width: 100%;
  }

  .rules-concentration {
    display: block;
  }

  .main {
    padding: 40px 0;
  }

  .indent-sections:not(:last-child) {
    margin-block-end: 50px;
  }

  .gallery__box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    margin-block-start: 9px;
  }
}